body {
    padding: 40px 0px 0px 0px;
    margin: 0px;
    font-family: 'Roboto Condensed';
    background-color: #fbfbf6;
}

a:hover,
a:focus {
    text-decoration: none !important;
}

.ancor {
    padding-top: 40px;
    margin-top: -40px;
}

.navbar-default {
    background-color: peach;
    color: Black;
}

.navbar-default .navbar-brand {
    color: Black;
}

.navbar-default .navbar-brand:hover {
    color: white;
}

.navbar-default .navbar-nav>li>a {
    color: Black;
}

.navbar-default .navbar-nav>.active>a {
    background-color: #96bcdc;
    color: White;
}

.navbar-default .navbar-nav>.active>a:hover,
.navbar-default .navbar-nav>li>a:hover {
    background-color: gray;
    color: #eb99ce;
}

.jumbotron {
    color: White;
}

.block1 {
    background: #8ea0ac;
    color: White;
    max-width: 100%;
}

.block1 h1 {
    font-size: 60px;
}

.block1 p {
    font-size: 20px;
}

.block2 {
    background: #96bcdc;
    color: White;
    max-width: 100%;
    padding-bottom: 30px;
    padding-top: 30px;
}

.block2 p {
    font-size: 18px;
    font-weight: light;
}

.block2 .btn {
    padding: 5px 20px 5px 20px;
    background: #8ea0ac;
}

.block2 .btn:hover {
    background: #337ab7;
    color: White;
}

#avatar {
    border: 5px solid #19b821;
    border-radius: 50%;
    width: 80%;
}

.pink-text {
    color: #eb99ce;
}

section {
    border-bottom: 1px solid #eb99ce;
    padding-top: 30px;
    padding-bottom: 30px;
}

section h1 {
    color: #99acb9;
}

section p {
    font-size: 18px;
    font-weight: light;
}

section a {
    color: #99acb9;
}

section a:hover {
    color: #eb99ce;
}

section a:visited {
    color: #337ab7;
}

section a:visited:hover {
    color: #eb99ce;
}

ul {
    margin: 0px;
    padding: 0px;
}

li {
    list-style-type: none;
}

.form-horizontal .form-group {
    margin-right: 0px;
    margin-left: 0px;
}

footer {
    color: White;
    background-color: #8ea0ac;
    padding: 20px 0px 10px 0px;
}

footer p {
    font-size: 16px;
}

footer a:hover {
    color: #eb99ce;
}

.img {
    box-shadow: 3px 3px 10px #888888;
}

hr.star-bright,
hr.star-dark {
    margin: 30px auto 30px;
    padding: 0;
    max-width: 512px;
    border: 0;
    border-top: solid 5px;
    text-align: center;
}

@media(min-width:1023px) {
    header hr.star-bright,
    header hr.star-dark {
        margin-right: 0;
        text-align: center;
    }
    header hr.star-bright:after,
    header hr.star-dark:after {
        right: -10px;
    }
}

hr.star-bright:after,
hr.star-dark:after {
    content: '\f121';
    font-family: FontAwesome;
    display: inline-block;
    position: relative;
    top: -.8em;
    padding: 0 .25em;
    font-size: 2em;
}

hr.star-bright {
    border-color: #fff;
}

hr.star-bright:after {
    color: #fff;
    background-color: #aaa;
}

hr.star-dark {
    border-color: #888;
}

hr.star-dark:after {
    color: #888;
    background-color: #eee;
}

#portfolio .grid {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    align-items: flex-start;
    margin: 0 auto;
}

#fun-text {
    padding-top: 50px;
}